/*General*/
* {
	border: 1px solid red;
}
body {
	width: 50em;	
}
	 
a {
	text-decoration: none;
}
ul {
	list-style-type: none;
}
/*navbar*/
/*nav ul li {
	display: inline;
}*/
#logo {
	position: relative;
	width: 0;
	padding:;
	margin: 0;
}
.nav-right {
	display: inline;
	float: right;
	clear: right;
	
}

/*main section*/


/*form*/
#form {
	float: left;
	display: block;
}

/*side panel*/
aside {
	display: block;
	float: right;
}

/*footer*/
footer {
	display: inline-block;
}
.footer-first {
	display: inline;
}