/*General*/
* {
	b.order: 1px solid red;
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	width: 690px;
	margin-left: auto;
	margin-right: auto;	
}
	 
a {
	text-decoration: none;
}
ul {
	list-style-type: none;
}

.nav-right ul li {
	display: inline;
}

/*navbar*/

nav {
	width: 690px;
}
#logo {
	position: relative;
	right: 40px;
	width: 194px;
	height: 81px;

}
.nav-right {
	position: relative;
	left: 400px;
	top: -65px;
}

/*main section*/
#content {
	border: 1px solid black; 
}

/*form*/
#form {
	float: left;
	width: 350px;
	height: 528px;
}
input {
	border-color: gray;
	border-radius: 5px;
	margin-top: 10px;
	width: 266px;
	height: 30px;
}
/*side panel*/
aside {
	float: right;
	position: relative;
	top: 60px;
	width: 223px;
	height: 528px; 
}

/*footer*/
footer {
	position: relative;
	top: 500px;
}
.footer-first {
	
}
#logos {

}
#verisign {
	
}
#truste {
	
}